<ion-content>
  <div class="main_content_div">
    <ion-buttons slot="start" class="menu_btn">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>

    <div class="user_div">
      <div class="first_div">
        <ion-label class="TRAFFIC">Traffic</ion-label>
        <ion-label class="bienvenido">Bienvenido</ion-label>
      </div>
      <div class="user_back" [style.backgroundImage]="'url(assets/image/Designer.png)'"></div>
    </div>
    <div class="content_div">

    </div>
    <div class="map" #map></div>
  </div>
</ion-content>