ion-content {
  --background: linear-gradient(to right, #254f4e, #329996);

  .main_content_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .menu_btn {
      margin-top: 1px;
      align-self: flex-start;
      z-index: 1;
    }

    .map {
      position: relative;
      width: 100%;
      flex: 1;
      background-color: transparent;
      opacity: 1;
      transition: opacity 150ms ease-in;
      border-radius: 20px; /* Add rounded border */
      overflow: hidden; /* Ensure content inside doesn't protrude */
      
    }


    .bienvenido {
      font-size: 18px;
      color: white;
      font-weight: 600;
    }

    .button_div {
      display: flex;
      
      align-items: center;
      margin-top: -120px;
      

      ion-button {
        margin-top: 10px; 
        --background: red; 
        --color: white; 
      }
    }
  }
}

ion-content {
  --background: linear-gradient(to right, #254f4e, #329996);
}

.main_content_div {
  width: 100%;

  .menu_btn {
    position: relative;
    top: 10px;
    left: 10px;
  }

  ion-label {
    display: block;
    color: #254f4e;
    text-align: center;
  }

  .user_div {
    padding: 20px;
    width: 100%;
    height: 230px;
    background: linear-gradient(to right, #254f4e, #329996);
    display: flex;
    padding-top: 0px;
    justify-content: space-between;

    .first_div {
      padding-top: 35px;

      .TRAFFIC {
        font-size: 18px;
        color: white;
        font-weight: 500;
        text-align: left;
      }
      .bienvenido {
        font-size: 24px;
        color: white;
        font-weight: 600;
      }
    }

    .user_back {
      height: 100px;
      width: 100px;
      border: 3px solid white;
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 100px;
    }
  }

  .content_div {
    background-color: white;
    width: 100%;
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
    margin-top: -80px;
    padding-top: 30px;

    .mapa {
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 10px;
      padding-left: 5px;
      margin-top: 10px;
    }

  }}