<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<ion-content>
  <div class="main_content_div">
    <ion-buttons slot="start" class="menu_btn">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>

    <div class="user_div">
      <div class="first_div">
        <ion-label class="TRAFFIC">Traffic</ion-label>
        <ion-label class="bienvenido">Bienvenido</ion-label>
      </div>
      
      <div class="user_back" [style.backgroundImage]="'url(assets/image/Designer.png)'"></div>
    </div>
    <div class="content_div">
      <ion-label class="mapa">Hola! Activa tu ubicacion para tener una mejor experiencia</ion-label>
      <ion-grid fixed>
        <div class="map" #map></div>
      
      </ion-grid>
    </div>
  </div>
</ion-content>
