<ion-content>
  <div class="main_content_div">
    <ion-buttons slot="start" class="menu_btn">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
  
    <ion-content [fullscreen]="true">
      <div class="user_div">
        <div class="first_div">
          <ion-label class="TRAFFIC">Mas detalles</ion-label>
          <ion-label class="bienvenido">PUBLICACIONES</ion-label>
        </div>
        <div class="user_back" [style.backgroundImage]="'url(assets/image/periodico.png)'"></div>
      </div>

  <ion-card>
    <ion-img src="../../assets/image/1.jpeg"></ion-img>
    <ion-card-header>
      <ion-card-title>Construccion Paseo de la Victoria</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      ¡Buenas noticias! Los trabajos de reparación en la carretera Paseo de la Victoria finalmente han comenzado. 
      Esta importante vía será renovada para mejorar su estado y seguridad. Las obras incluirán la restauración de la superficie, mejoras en el drenaje y nuevas señales. 
      Mantente al tanto para más actualizaciones sobre este proyecto que beneficiará a todos los conductores y peatones. ¡Menos baches, más suavidad en el camino! 🚗🚧🛣️
    </ion-card-content>
   
  </ion-card>
</ion-content>
